{extend name="base" /}

{block name="title"}添加网盘分类{/block}

{block name="content"}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">添加网盘分类</h1>
            <form action="{:url('admin/category/save')}" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">网盘名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <label for="title" class="col-sm-2 control-label">网盘地址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="url" name="url" required>
                    </div>
                    <label for="title" class="col-sm-2 control-label">是否前台展示</label>
                    <div class="col-sm-10">
                        <select name="is_show" class="form-control">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>

                    
                    
                </div>
                <!-- 可以添加更多分类属性 -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}